<div class="top_body">
    <form>
        <p>User ID</p>
        <textarea name="id" rows="1"></textarea>
        <p>Password</p>
        <textarea name="password" rows="1"></textarea>
        <input name="submit" type="submit">
    </form>
</div>