<div class="top_body">
    <%=form_with url: /user/login do |form| %>
        <p>名前</p>
        <%= form.text_field :name %>
        <p>Password</p>
        <%= form.text_field :password %>
        <%= f.submit %>
    <% end %>
</div>