
<!DOCTYPE html>
<html>
  <head>
    <title>StudioReservingSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="headder">
      <h1><a href="/">京都産業大学 軽音楽部ポータル<a></h1>
      <p><a href="/about">どんなアプリ？</a></p>
      <p><a href="/new">新規作成</a></p>
      <p><a href="/login">ログイン</a>
      <p><a href="">管理者</a></p>
    </div>
    <div class="body">
      <%= yield %>
    </div>
  </body>
</html>
