<div class="top_body">
    <% form_tag("/login,{multipart: true}) do %>
        <p>User ID</p>
        <input name="username">
        <p>Password</p>
        <input name="password" type="password">
        <input name="submit" type="submit">
        <input name ="create type="submit">
    <% end %>
</div>