<div class="top_body">
    <h2>アカウント登録</h2>
    <%= form_tag("/new",{multipart: true}) do %>
        <p>名前</p>
        <input name="name">
        <p>学生証番号</p>
        <input name="number">
        <p>生年月日</p>
        <input name="birthbay" type="date">
        <p>パスワード</p>
        <input name="password" type="password">
        <input name="submit" type="submit" value="作成">
    <% end %>
</div>