body{
    background-color:rgb(red, green, rgb(0, 255, 251)) ;
}

.headder{
    background-color: aqua;
    color: white;
    
}

.headder h1 a{
    color:orange;
}

.body{
    text-align:center;
}
.top_body{
    background: url(StudioReservingSystem\app\assets\images\homepic.jpg);
}