<h2>スタジオ予約システム</h2>

<p>自前のシステムがまだ完成していません。</p>
<p>完成するまでは下記のGoogle カレンダーを使ってください。</p>

<iframe src="https://calendar.google.com/calendar/embed?src=73d468e8196bb28a01c6a065c6eb34f6e4820235c06bb22a7b776f3f2f7cbf02%40group.calendar.google.com&ctz=Asia%2FTokyo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>